* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: hsl(217, 54%, 11%);
  font-family: "Outfit", sans-serif;
  width: auto;
  margin: auto;
  
  
}

.container {
  display: flex;
  justify-content: center;

  align-items: center;
 
}

.container img {
  width: 100%;
}

.card {
  max-width: 400px;
  padding: 35px;
  border-radius: 35px;
  background-color: hsl(216, 50%, 16%);
  box-shadow: 3px 3px 10px hsl(215, 32%, 27%);
  font-size: 18px;
  
}

.text-card {
  margin-top: 20px;
  text-align: start;
  color: hsl(0, 0%, 100%);
}

.text-card p {
  margin: 10px 0 20px;
  color: hsl(215, 51%, 70%);
}

.text_card_second img {
  width: 5%;
}

.text_card_second {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.text_card_second p {
  margin-left: -50px;
}

.Ethereum {
  color: hsl(178, 100%, 50%);
}

.time {
  color: hsl(215, 51%, 70%);
  font-weight: bold;
}

.bar {
  text-align: center;
  background-color: hsl(0, 0%, 100%);
  width: 100%;
  margin-bottom: 20px;
}

.last_section_card img {
  width: 10%;
}

.last_section_card {
  display: flex;
  justify-content: space-evenly;
  margin-left: -20%;
  align-items: center;
  color: hsl(215, 51%, 70%);
}

.creator {
  margin-left: -10%;
}

strong {
  color: hsl(0, 0%, 100%);
}

/* .attribution a {
  text-decoration: none;
  color: white;
}

.attribution {
    margin-top: 20px;
  color: hsl(215, 51%, 70%);
  font-size: bold;
} */
